In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st

In [3]:
df=pd.read_csv('Sales_add.csv')

In [4]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

### Is there difference in Sales after using Digital Marketing?

In [6]:
df.rename(columns = {'Sales_before_digital_add(in $)': 'SalesB' ,'Sales_After_digital_add(in $)':'SalesA' },inplace =True)

In [7]:
from scipy.stats import ttest_rel
alpha  = .04
_,p = ttest_rel( df['SalesA'],df['SalesB'], alternative = 'greater')

In [8]:
p

3.168333502287889e-11

 Digital Marketing has increased the sales.

### Is there Dependency between Region and Manager?

In [9]:
D = pd.crosstab(df['Region'], df['Manager'])

In [10]:
D

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [11]:
alpha=.04
from scipy.stats import chi2_contingency
_, p, _, _ = chi2_contingency(D)

In [13]:
p

0.5493991051158094

 There is no dependency between Region and Manager.